[Desktop Entry]
Categories=Application;Network;
Encoding=UTF-8
Exec=wicd-client
GenericName=Network Manager
Icon=wicd-client
Icon[en_US]=wicd-client
Name=Wicd Network Manager Tray
Name[en_US]=Wicd Network Manager Tray
Comment=Display network connection status in the system tray
Comment[en_US]=Display network connection status in the system tray
Terminal=false
Type=Application
Version=1.0
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
