include AUTHORS
include CHANGES
include INSTALL
include LICENSE
include MANIFEST.in
include NEWS
include README
include vcsinfo.py

graft cli
graft curses
graft data
graft depends
graft encryption
graft in
graft other
graft po

recursive-include man wicd-client.1
recursive-include . *.py
recursive-include . *.png

prune build .bzr* *.log *.pyc
