include AUTHORS
include CHANGES
include INSTALL
include LICENSE
include MANIFEST.in
include NEWS
include README
include uninstall.sh
include vcsinfo.py

graft cli
graft curses
graft data
graft encryption
graft in
graft other
graft po
graft tests
graft wicd

recursive-include man wicd-client.1
recursive-include . *.py
recursive-include . *.png

prune build .bzr* .git*
prunt build *.log *.pyc
