Source: python-iwscan
Section: python
Priority: optional
Build-Depends: debhelper (>= 6), python-all-dev (>= 2.3.5-11), python (>= 2.4), python-central (>= 0.5.6), libiw-dev
Maintainer: Kel Modderman <kel@otaku42.de>
XS-Python-Version: >= 2.4
Standards-Version: 3.7.3

Package: python-iwscan
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: A Python interface to iwlist, using the iwlib library
 This module makes the iwlib (Linux Wireless Extensions) functions available
 in Python for wireless network scanning.
